

 <div class =" navbar">
    <div class = "logo">
        <a href="#"><img src="assets/images/logostrashelp.png" alt="logo association Stras'Help"></a>
    </div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
    <hr>
      

