*{
    font-family: var(--police);
}

body{
    height: 100vh;
}

h1{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    font-size: 2em;
    font-weight: bold;
    font-family: var(--police);
    color: var(--white--color);
    text-align: center;
    border: 1px solid rgba(189,195,199 .8);
    border-radius: 10px;
    background: var(--primary--color);
}

/* Formulaire */

form{
    width: 80%;
    margin: auto;
    margin-top: 5%;
}
.uk-select{
    border: 1px solid rgba(189,195,199, .8);
    border-radius: 10px;
}

.uk-button{
    border: 1px solid rgba(189,195,199, .8);
    border-radius: 10px;
    width: 100%;
    background-color: var(--primary--color);
    color: var(--white--color);
}

.uk-button:hover{
    background-color: #c31f50;
    color: var(--text--color);
}

label{
    text-decoration: underline;
    color: black;
}


/* Card */

.sk-container{
    height: 35vh;
}

.uk-card{
    width: 80%;
    margin: auto;
    border: 1px solid rgba(189,195,199, .8);
    border-radius: 10px;
}

.uk-card-body{
    padding: 10%;
}

h3, p, .uk-card-footer{
    text-align: center;
}

img, .sk-text{
    display: none;
}

.sk-note:hover{
    color: rgb(207, 207, 29);
}


@media (min-width: 768px){

    h1{
        width: 50%;
        margin-bottom: 5%;
        font-size: 2.5em;
        color: var(--white--color);
    }

    .sk-container-form{
        width: 100%;
        background-color: #F7F7F7;
        border-radius: 10px;
        display: flex;
    }

    form{
        margin-left: 20%;
    }

    img{
        display: block;
        width:50%;
        margin-left: 10%;
        border-radius: 40px;
    }

    .sk-text{
        display: block;
        width: 50%;
        margin-left: 15%;
        text-align: left;
    }

    .uk-button{
        width: 50%;
        margin-left: 25%;
        font-size: 1.2em;
        color: var(--white--color);
    }

    .uk-card{
        height: 40%;
        margin-top: 5%;
        display: flex;
        align-items: center;
    } 

    .uk-card-header{
        border-right: 1px solid rgba(189,195,199, .8);
    }

    .uk-card-footer{
        border-left: 1px solid rgba(189,195,199, .8);
    }

    .sk-star{
        display: flex;
    }
    
}