@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@300&display=swap');

:root{
    --police: 'Montserrat', sans-serif;
    --primary--color : #E94174;
    --secondary--color: #8EC475;
    --text--color: white;
}
