
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-margin-auto uk-margin-large-top">
        <h3 class="uk-card-title uk-text-center">Connectez-vous avec votre communauté</h3>
        <div class="uk-text-default uk-text-bold uk-margin-top uk-margin-bottom">Créez des liens avec votre communauté par le biais d'échanges non marchands.</div>
        <form>
            <div class="uk-grid uk-flex-column uk-flex-middle" uk-grid>
            <div class="uk-width-1-1">
                <label for="prenom">Prénom</label>
                <input class="uk-input" type="text" name="prenom" id="prenom" required>
            </div>
            <div class="uk-width-1-1">
                <label for="email">Email</label>
                <input class="uk-input" type="email" name="email" id="email" required>
            </div>
            <div class="uk-width-1-1">
                <label for="password">Password</label>
                <input class="uk-input" type="password" name="password" id="password" required>
            </div>
            <div class="uk-width-1-1">
                <label for="type">Type</label><br>
                <label><input class="uk-radio" type="radio" name="type" value="association" checked required> Association</label><br>
                <label><input class="uk-radio" type="radio" name="type" value="particulier" required> Particulier</label>
            </div>
            <div class="uk-width-1-1">
                <button class="uk-button uk-button-default uk-width-1-1 card-btn" type="submit">S'inscrire</button>
            </div>
            </div>
        </form>
</div>

{% block stylesshet %}
<link rel="stylesheet" href="assets/css/style_formHome.css">
{% endblock %}