
 <div class="container">  
        <nav>
             <div>
                <img class="animate__animated animate__pulse logo" src="/assets/images/Logo-strasHelp.png">
            </div>
            <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#" onclick="showModal()">Login</a></li>
                    <div class="modal" id="modal"></div>
                    <li><a href="#">Contact</a></li>            
            </ul> 
        <div class="menu-icon">
        <img src="assets/images/menu.png" alt="menu burguer">
        </div>
        </nav>

