{% include "component/_popUpMessage.html.twig" %}
{% include "component/_popUpLogin.html.twig" %}

 <div class="container">  
    <nav>
        <div>
            <a href="/"><img class="animate__animated animate__pulse logo" src="/assets/images/Logo-strasHelp.png"></a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a onclick="displayModalLogin()">Login</a></li>
            <li><a href="#form-inscription">Inscription</a></li>
            <li><a onclick="displayModalContact()">Contact</a></li>            
        </ul> 
        <div class="menu-icon">
            <img src="assets/images/menu.png" alt="menu burguer">
        </div>
    </nav>
</div>

